body {
    background: $c-background;

    @media (min-width: 800px) {
        background: transparent;
        background-image:  linear-gradient(
            to bottom,
            $c-background,
            $c-background 300px,
            rgba($c-background, .2) 300px,
            rgba($c-background, .2)
        );
    }
}

.wrap {
    position: relative;
    max-width: 1024px;
    margin: 10px;
    border-top: none;
    background: white;

    > hr {
        margin: 30px 15px 5px;
    }

    @media (min-width: 800px) {
        border: 10px solid rgba($c-background, 0.05);
        margin: 40px auto;
    }
}

.navbar {
    background: white;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-btn {
    margin-left: 10px;
}

.navbar-inverse .navbar-collapse {
    border-color: $c-accent;
}

.navbar-inverse .navbar-toggle {
    border-color: $c-accent;

    &:hover,
    &:focus,
   .icon-bar  {
        background-color: $c-accent;
    }

    &:hover .icon-bar,
    &:focus .icon-bar {
        background-color: white;
    }
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: $c-accent;

    &:hover,
    &:focus {
        background-color: $c-accent;
    }
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: $c-accent;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    &:hover,
    &:focus {
        color: $c-accent;
    }
}

footer .breadcrumb  {
    background: none;
    margin: 0;

    @media (max-width: 600px) {
        a { font-size: 10px; }
    }
}

.hero {
    position: relative;
    overflow: hidden;
    height: 175px;
    width: 100%;
    text-align: center;

    @media (min-width: 800px) {
        height: 350px;
    }
}

.hero_img {
    left: 0;
    position: absolute;
    top: -1 * 20%;
    width: 100%;
    // min-height: 330px;
    @media (min-width: 800px) {
        top: -1 * 50%;

        .weekend & {
            top: -1 * 75%;
        }
    }
}

.hero_logo {
    position: relative;
    z-index: 2;
    width: 160px;
    top: 40px;

    @media (min-width: 800px) {
        top: 80px;
        width: 300px;
    }
}

.btn-success {
    border-color: $c-accent;
    background-color: $c-accent;
    color: white;

    &:hover {
        border-color: darken($c-accent, 10%);
        background: darken($c-accent, 10%);
    }
}

.radio-inline {
    @media (max-width: 360px) {
        margin-left: 0 !important;
    }
}

.btn-primary {
    background-color: white;
    border-color: $c-accent;
    color: $c-accent;

    &:hover {
        background-color: white;
        border-color: darken($c-accent, 10%);
        color: darken($c-accent, 10%);
    }
}

.invite {
    margin-top: 20px;
    text-align: center;
    @include f-copy;
    color: $c-accent;

    hr { width: 300px; }
    h2 { color: $c-accent; }
    p {  margin-bottom: 20px; }
}

#map {
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}

.account-details {
   margin-top: 10px;
}

.account-details__item {
   margin-left: 10px;
   margin-bottom: 5px;
}
